/* Page styles */
body {
	margin: 20px;
	padding-bottom: 100px;
	text-align: center;
	background: #E5EBEE;
	color: #49412C;
	font-family: "Open Sans Semibold", "Arial Unicode MS Bold";;
	font-size: 40px;
}
h1 {
	padding-bottom: 15px;
	border-bottom: 1px solid #49412C;
}
p {
	margin: 10px 0;
}



/* Map styles */
.map {
	margin: 20px;
	width: 2000px;
	height: 1500px;
}
